.container {
  display: block;
  gap: 50px;
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: var(--textbold);
  height: fit-content;
}

.imgContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.formContainer {
  flex: 3;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.form{
  display: flex;
  flex-direction: column;
}

.form input, .form textarea, .form select{
  padding: 20px;
  border: 1px solid #d0d5df;
  border-radius: 5px;
  background-color: #f5f7f8;
  color: var(--text);
  margin: 10px 0px;
}

.form label{
  font-size: 12px;
}

.form button{
  width: 100%;
  padding: 20px;
  background-color: rgb(13, 209, 167);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.input::placeholder {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.donationsContainer {
  background-color: #ffff;
  padding: 20px;
  border-radius: 10px;
  color: var(--textSoft);
  margin-top: 20px;
}

.donationsTable {
  width: 100%;
  border-collapse: collapse;
}

.donationsTable th,
.donationsTable td {
  padding: 10px;
  border: 1px solid #d0d5df;
  text-align: left;
}

.donationsTable th {
  background-color: #f5f7f8;
  color: var(--text);
  font-weight: bold;
}

.donationsTable td {
  color: var(--text);
  font-weight: 400;
}


.donationsTable tr:nth-child(even) {
  background-color: #f5f7f8;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productInfo h2 {
  margin: 0;
  color: var(--text);
  font-size: 20px;
}

.productInfo h2 span {
  color: var(--textbold);
}
